<!DOCTYPE html>
<html>
<head>
  <title>Shutr.co</title>
  <% include ../partials/header.ejs %>
</head>

  <body>
  <% include ../partials/gtm.ejs %>

  <% include ../partials/nav.ejs %>


<% var i = Math.floor(Math.random() * (categories.length - 1)); %>
  <header style="background-image:url(/images/category/<%= categories[i].name.toLowerCase() %>.jpg)">

    <div class="text-center" style="margin: 0 auto;padding: 10em 0 10em;">
      <h2 style="font-size: 4em;font-weight: bold;">Shutr</h2>
      <h3 style="font-size: 1.8em;">Find Local Photographers</h3>
    </div>
    <% include ../partials/search.ejs %>
  </header>

  <article style="background-color:#EDEFED;color: #565A5C;padding-top: 2em;">

    <section class="featured container">
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <div style="padding:2em">
            <h2>Let's turn moment into memories</h2>
            <p>Sign up as a local photographer and turns clicsk into cash,
              workign with local families and businesses</p>
            <a class="featurebutton btn btn-default btn-lg" id="featurebutton"
            style="background-color: #F5A623;border-color: #F5A623;color: #fff;" href="/signup">Sign Up</a>
          </div>
        </div>
        <div class="feature-image col-xs-12 col-sm-6">
          <div class="text-center">
            <img style="max-width:370px" src="/images/image01.jpg">
          </div>
        </div>
      </div>
    </section>

    <section class="text-center" style="margin:2em auto">
      <h1>Support Local Artists</h1>
      <h4>Easily connect with local photographers in your area</h4>
    </section>

    <section class="container">


      <% for(var i=0; i<categories.length; i++){ %>

      <%   if (i%2 == 0) { %>
        <div class="row">
      <%   } %>
            <div class="col-xs-12 col-sm-<%= (i%4 == 0 || i%4-3 == 0) ? 7 : 5; %>">
                <a href="/category/<%= categories[i].name.toLowerCase() %>">
                  <div class="category text-center" style="background-image: url(/images/category/<%= categories[i].name.toLowerCase() %>.jpg);">
                    <h2><%= categories[i].name.toUpperCase() %></h2>
                    <p><%= categories[i].tagline %></p>
                  </div>
                </a>
            </div>
        <%   if (i%2 == 1) { %>
        </div>
        <%   } %>

      <% } %>


    </section>
  </article>

  <% include ../partials/footer.ejs %>

</body>
</html>
